.main_vis {
  height: calc(100vh - 10rem);
  padding-top: 10rem;
  position: relative;
}
.main_vis .txt_wrap {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7rem;
  font-weight: 700;
  opacity: 0;
}
.main_vis .txt1 {
  opacity: 1;
}

.publishing {
  background-color: #fafafa;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.publishing ul {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-left: 40%;
}
.publishing ul li {
  position: relative;
  height: 70%;
  width: 50%;
  margin-right: 10rem;
  background-color: blue;
  border-radius: 1.5rem;
  background: url(../img/publishing_bg1.jpg) no-repeat center/cover;
}
.publishing ul li:nth-child(2) {
  background-image: url(../img/publishing_bg2.webp);
}
.publishing ul li:nth-child(3) {
  background-image: url(../img/publishing_bg3.jpg);
}
.publishing ul li .txt_wrap {
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.3s;
  padding: 10rem 5rem;
}
.publishing ul li .txt_wrap h1 {
  font-size: 5rem;
  line-height: 6rem;
  margin: 2rem 0;
}
.publishing ul li .txt_wrap span {
  font-size: 2rem;
  border: 1px solid #fff;
  border-radius: 3rem;
  width: fit-content;
  transition: 0.3s;
}
.publishing ul li .txt_wrap span a {
  display: block;
  padding: 1rem 3rem;
}
.publishing ul li .txt_wrap span:hover {
  background-color: #fff;
  color: #000;
}
.publishing ul li:hover .txt_wrap {
  opacity: 1;
}

.con_tit {
  background-color: #fff;
}

.contact {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  padding: 10rem 0;
}
.contact em {
  display: block;
  margin-bottom: 5rem;
}
.contact ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}
.contact ul li {
  font-size: 2rem;
  border: 2px solid #000;
  border-radius: 3rem;
  background-color: #000;
  transition: all 0.3s;
  color: #fff;
}
.contact ul li a {
  display: block;
  padding: 2rem 3rem;
}
.contact ul li a i {
  margin-right: 1rem;
}
.contact ul li:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 800px) {
  .publishing {
    height: auto;
  }
  .publishing ul {
    display: block;
    margin-left: 0;
    margin-top: 5rem;
  }
  .publishing ul li {
    width: 100%;
    border-radius: 0;
  }
  .publishing ul li .txt_wrap {
    padding: 20rem 0;
    border-radius: 0;
  }

  .contact ul {
    width: 80%;
  }
}