@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&family=Poppins:wght@300;500;700&display=swap");
body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
}

$main-color: #00c68e;

.clear::after {
  content: "";
  display: block;
  clear: both;
}
.blind {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
.btn1 {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 2rem 5rem;
  background-color: $main-color;
  border: 2px solid $main-color;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
  &:hover {
    background-color: #fff;
    color: $main-color;
  }
}
