.clear::after {
  content: "";
  display: block;
  clear: both;
}
.blind {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
.btn1 {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 2rem 5rem;
  background-color: #00c5a8;
  border: 2px solid #00c5a8;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
  &:hover {
    background-color: #fff;
    color: #00c5a8;
  }
}
.btn2 {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 3rem 10rem;
  border: 1px solid #00c5a8;
  background-color: #fff;
  border-radius: 36px;
  transition: 0.3s;
  color: #00c5a8;
  &:hover {
    background-color: #00c5a8;
    color: #fff;
  }
}
