@import "common";
header {
  height: 10rem;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 4rem;
  .logo {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 15rem;
    height: 2rem;
    background: url(../img/logo.svg) no-repeat center / cover;
  }
  .gnb_wrap {
    width: fit-content;
    margin: 0 auto;
    .gnb_list {
      display: inline-block;
      padding: 3rem 2rem;
      a {
        transition: 0.3s;
        border-bottom: 2px solid #fff;
      }
      &:hover {
        a {
          color: $main-color;
          border-bottom: 2px solid $main-color;
        }
      }
    }
  }
  .utill {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    .utill_list {
      display: inline-block;
      padding: 0 1rem;
    }
  }
  .mobile_menu {
    display: none;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 3rem;
  }
}
footer {
  width: 100%;
  background-color: $main-color;
  color: #fff;
  .inner {
    width: 80%;
    margin: 0 auto;
    .top_area {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2rem;
      font-weight: 700;
      height: 15rem;
      margin-bottom: 5rem;
      .logo {
        width: 22.5rem;
        height: 3rem;
        background: url(../img/ft_logo.svg) no-repeat center / cover;
      }
      .link {
        li {
          display: inline-block;
          margin-right: 3rem;
        }
      }
      .sns {
        li {
          font-size: 3rem;
          display: inline-block;
          margin-left: 4rem;
        }
      }
    }
    .bot_area {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 3rem;
      font-size: 2rem;
      .copy {
        font-size: 1.4rem;
      }
      .privacy {
        li {
          display: inline-block;
          margin-left: 2rem;
          &:last-child {
            font-weight: 700;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1450px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 1300px) {
  html {
    font-size: 8px;
  }
}
@media screen and (max-width: 1100px) {
  html {
    font-size: 7px;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 6px;
  }

  header {
    .gnb_wrap {
      display: none;
    }
    .utill {
      display: none;
    }
    .mobile_menu {
      display: block;
    }
  }
  footer {
    .inner {
      .top_area {
        display: block;
        padding: 3rem 0;
        .logo {
          margin-bottom: 3rem;
        }
        .sns {
          li {
            margin: 3rem 2rem 3rem 0;
          }
        }
      }
      .bot_area {
        display: block;
        .privacy {
          li {
            margin: 3rem 2rem 2rem 0;
          }
        }
      }
    }
  }
}
