/*--header--*/
.header h1 {
  position: fixed;
  top: 40px;
  left: 50px;
  z-index: 2;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.header h1 a {
  color: #fff;
}

/*menu_btn*/
.menu_btn {
  position: fixed;
  top: 40px;
  right: 50px;
  z-index: 2;
  cursor: pointer;
}
.menu_btn span {
  background: #fff;
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px 0;
}
.menu_btn span:nth-child(2) {
  width: 20px;
  float: right;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu_btn span:nth-child(2):after {
  content: "MENU";
  display: block;
  position: absolute;
  bottom: -10px;
  right: 0;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu_btn:hover span {
  width: 40px;
}
.menu_btn:hover span:nth-child(2):after {
  opacity: 1;
  bottom: -20px;
}

/*menu_btn.open*/
.menu_btn.open {
  z-index: 3;
  width: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
}
.menu_btn.open span {
  position: absolute;
  width: 100%;
  opacity: 1;
  transform: rotate(135deg);
  top: 20px;
  left: 0;
  z-index: 2;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu_btn.open span:last-child {
  transform: rotate(-135deg);
}
.menu_btn.open span:last-child:after {
  opacity: 0;
}

/*menu_bg inner*/
.menu_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
}
.menu_bg_inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.menu_bg .gnb {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -345.32px;
  margin-top: -38px;
}
.menu_bg .gnb ul {
  overflow: hidden;
}
.menu_bg .gnb li {
  display: inline-block;
  padding-right: 40px;
  margin: 20px 0;
}
.menu_bg .gnb li:last-child {
  padding-right: 0;
}
.menu_bg .gnb li a {
  font-size: 30px;
  color: #fff;
}
.menu_bg .gnb .no_active a {
  color: #808488;
}
.menu_bg .gnb .active a {
  color: #fff;
}

/*--main--*/
.main {
  width: 100%;
  height: 100%;
  position: relative;
}

/*swiper-side*/
.swiper-container {
  background: #070809;
}

/*swiper-side section*/
.section01 {
  background: #070809;
}
.section02 {
  background: #001f36;
}
.section03 {
  background: #393635;
}
.section04 {
  background: #393635;
}
.swiper-slide {
  overflow: hidden;
}
.swiper-slide .bg {
  width: 100%;
  height: 100%;
}
.section01 .bg {
  background: url(../img/bg/bg_section1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.section02 .bg {
  background: url(../img/bg/bg_section2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.section03 .bg {
  background: url(../img/bg/bg_section3.webp) no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.section04 .bg {
  background: url(../img/bg/bg_section4.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/*swiper-side gradient bg*/
.bg_opac {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  background-image: radial-gradient(
    circle at top left,
    rgba(0, 0, 0, 0) 17%,
    rgba(0, 0, 0, 0.9) 100%
  );
  -webkit-transition: all 2s ease 0.5s;
  -moz-transition: all 2s ease 0.5s;
  -o-transition: all 2s ease 0.5s;
  -ms-transition: all 2s ease 0.5s;
  transition: all 2s ease 0.5s;
}
/*swiper-side active*/
.swiper-slide.swiper-slide-active .bg {
  opacity: 1;
}
.swiper-slide.swiper-slide-active .bg_opac {
  opacity: 1;
}

/*swiper-side common_con*/
.main_intro {
  z-index: 9;
  color: #fff;
  text-align: center;
}
.main_intro .txt01 {
  font-size: 18px;
  display: inline-block;
}
.main_intro .txt01 span {
  font-weight: 800;
}
.main_intro .txt02 strong {
  font-size: 65px;
  display: block;
  line-height: 1.6;
  font-weight: 700;
  padding: 30px 0 30px;
}
.main_intro .txt02 strong i {
  display: inline-block;
}
.main_intro p {
  font-size: 18px;
  line-height: 1.7;
  color: #fff;
  font-weight: 500;
  padding-bottom: 20px;
}

/*swiper-side btn*/
.btn01 {
  display: inline-block;
  min-width: 175px;
  height: 51px;
  margin-top: 20px;
  padding: 0 30px;
  position: relative;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 40px;
  color: #222;
  font-weight: 600;
  line-height: 51px;
  -webkit-transition: 0.3s background, 0.3s color, 0.3s border, 0.3s opacity;
  transition: 0.3s background, 0.3s color, 0.3s border, 0.3s opacity;
}
.btn01:hover {
  background: none;
  color: #fff;
  border-color: #fff;
  -webkit-animation: move 2.5s infinite;
  animation: move 2.5s infinite;
}
@-webkit-keyframes move {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(2deg);
  }
  24% {
    transform: rotate(-2deg);
  }
  28% {
    transform: rotate(2deg);
  }
  32% {
    transform: rotate(-2deg);
  }
  36% {
    transform: rotate(0deg);
  }
}
.btn01 span {
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: bold;
}

/*swiper-side pagination*/
.swiper-pagination-fraction {
  width: 100%;
  color: #fff;
  text-align: center;
  left: 0;
  bottom: 20px;
  z-index: 2;
}

/*swiper-side control*/
.page_control {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1;
}
.page_control span {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}
.page_control i {
  display: inline-block;
  width: 100px;
  height: 1px;
  background: #fff;
  vertical-align: middle;
  margin: 0 10px;
}

.prev_btn {
  position: relative;
  letter-spacing: 1px;
}
.prev_btn:before {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background: #fff;
  -webkit-transition: all 0.5s ease 0.1s;
  -moz-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  -ms-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
}
.prev_btn:hover:before {
  width: 100%;
}

.next_btn {
  position: relative;
  letter-spacing: 1px;
}
.next_btn:before {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -5px;
  right: 0;
  background: #fff;
  -webkit-transition: all 0.5s ease 0.1s;
  -moz-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  -ms-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
}
.next_btn:hover:before {
  width: 100%;
}

/*responsible*/

@media screen and (max-width: 1200px) {
  /*header menu(open) gnb*/
  .menu_bg .gnb li a {
    font-size: 24px;
  }

  /*main swiper-slide common-con*/
  .main_intro .txt02 strong {
    font-size: 48px;
    line-height: 1.3;
  }
  .main_intro p {
    font-size: 16px;
    line-height: 1.7;
  }

  /*main swiper-slide btn*/
  .btn01 {
    min-width: 160px;
    height: 45px;
    padding: 0 20px;
    line-height: 45px;
  }
}

@media screen and (max-width: 768px) {
  /*header menu btn*/
  .menu_btn span {
    width: 40px;
  }
  .menu_btn span:nth-child(2) {
    width: 100%;
  }
  .menu_btn span:nth-child(2):after {
    opacity: 1;
    bottom: -20px;
    font-size: 13px;
  }
  .menu_btn:hover span {
    width: 40px;
  }
  .menu_btn:hover span:nth-child(2):after {
    bottom: -20px;
  }

  /*header menu(open) gnb*/
  .menu_bg .gnb {
    margin: 0;
    transform: translate(-50%, -50%);
  }
  .menu_bg .gnb li {
    display: block;
    padding-right: 10px;
  }
  .menu_bg .gnb li a {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  /*header h1(logo)*/
  .header h1 {
    position: fixed;
    top: 30px;
    left: 20px;
  }

  /*header menu btn*/
  .menu_btn {
    position: fixed;
    top: 30px;
    right: 20px;
  }

  /*main swiper-slide common-con*/
  .main_intro .txt02 strong {
    font-size: 32px;
    line-height: 1.2;
    padding: 20px 0;
  }
  .main_intro p {
    font-size: 14px;
    line-height: 1.5;
  }

  /*main swiper-slide btn*/
  .btn01 {
    min-width: 120px;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
  }

  /*swiper-side pagination*/
  .swiper-pagination-fraction {
    text-align: left;
    padding-left: 20px;
  }

  /*swiper-side control*/
  .page_control {
    right: 20px;
  }
}
