.main_vis {
  padding-top: 10rem;
  text-align: center;
}
.main_vis .txt_area {
  font-weight: 700;
  margin-bottom: 10rem;
}
.main_vis .txt_area h1 {
  font-size: 5.2rem;
  margin-bottom: 2rem;
}
.main_vis .txt_area p {
  font-size: 2.4rem;
  margin-bottom: 5rem;
}
.main_vis .vid_area {
  position: relative;
  margin-bottom: 20rem;
}
.main_vis .vid_area video {
  width: 80%;
  margin: 0 auto;
  object-fit: cover;
}
.main_vis .vid_area .back {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50rem;
  background-color: #daf8f2;
}

.content1 {
  padding: 5% 10% 0 10%;
  position: relative;
}
.content1 .left_area {
  float: left;
  width: 50%;
}
.content1 .left_area span {
  color: #00c68e;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  display: block;
}
.content1 .left_area h1 {
  font-size: 5rem;
  font-weight: 700;
}
.content1 .left_area.on {
  position: fixed;
  top: 5%;
  left: 10%;
}
.content1 .left_area.end {
  position: absolute;
  bottom: 0;
  left: 10%;
}
.content1 .right_area {
  float: right;
  width: 50%;
}
.content1 .right_area .card_list li {
  float: left;
  width: 45%;
  height: auto;
  box-shadow: 3px 3px 10px 0px #ccc;
  border-radius: 1.5rem;
  margin: 0 0 10% 10%;
  overflow: hidden;
  transition: 0.3s;
}
.content1 .right_area .card_list li:nth-child(2n+1) {
  margin: 0;
}
.content1 .right_area .card_list li:last-child {
  margin-bottom: 0;
}
.content1 .right_area .card_list li:hover {
  transform: scale(1.05);
}
.content1 .right_area .card_list li .img_wrap {
  height: 19rem;
}
.content1 .right_area .card_list li .img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content1 .right_area .card_list li .txt_wrap {
  padding: 3rem;
}
.content1 .right_area .card_list li .txt_wrap .cate {
  font-size: 1.2rem;
  font-weight: 700;
  color: #00c68e;
  display: block;
  margin-bottom: 1rem;
}
.content1 .right_area .card_list li .txt_wrap .tit {
  font-size: 2rem;
  font-weight: 700;
  height: 7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content1 .right_area .card_list li .txt_wrap .txt {
  height: 8rem;
  overflow: hidden;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 2rem;
  display: block;
  color: #707070;
}
.content1 .right_area .card_list li .txt_wrap .date {
  display: block;
  padding-top: 2rem;
  border-top: 1px solid #707070;
  font-size: 1.4rem;
  color: #707070;
}

.all_btn {
  text-align: center;
  padding: 10rem 0 20rem 0;
}

.content2 {
  padding: 10% 0;
  background-color: #f8f8f8;
}
.content2 .tit_wrap {
  padding: 0 10%;
  margin-bottom: 10rem;
}
.content2 .tit_wrap span {
  display: block;
  color: #00c68e;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.content2 .tit_wrap h1 {
  font-size: 4.8rem;
  font-weight: 700;
}
.content2 .interview {
  height: 70rem;
}
.content2 .interview .swiper {
  height: 100%;
}
.content2 .interview .swiper .swiper-button-next {
  color: #fff;
  width: 5rem;
  height: 5rem;
}
.content2 .interview .swiper .swiper-button-prev {
  color: #fff;
}
.content2 .interview .swiper .swiper-wrapper .swiper-slide {
  position: relative;
  background: url(../img/interview_bg1.jpg) no-repeat center/cover;
}
.content2 .interview .swiper .swiper-wrapper .swiper-slide .txt_wrap {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  color: #fff;
}
.content2 .interview .swiper .swiper-wrapper .swiper-slide .txt_wrap span {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
  opacity: 0.7;
}
.content2 .interview .swiper .swiper-wrapper .swiper-slide .txt_wrap h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.content2 .interview .swiper .swiper-wrapper .swiper-slide .txt_wrap em {
  font-size: 2.4rem;
  display: block;
  margin-bottom: 2rem;
  opacity: 0.7;
}
.content2 .interview .swiper .swiper-wrapper .swiper-slide .txt_wrap .more {
  font-size: 1.8rem;
  font-weight: 5000;
}
.content2 .interview .swiper .swiper-wrapper .swiper-slide .txt_wrap .more a {
  width: fit-content;
  padding: 1.5rem 4rem;
  border: 2px solid #fff;
  border-radius: 4rem;
  transition: all 0.3s;
}
.content2 .interview .swiper .swiper-wrapper .swiper-slide .txt_wrap .more a:hover {
  color: #000;
  background-color: #fff;
}
.content2 .interview .swiper .swiper-wrapper .interview2 {
  background: url(../img/interview_bg2.jpg) no-repeat center/cover;
}
.content2 .interview .swiper .swiper-wrapper .interview3 {
  background: url(../img/interview_bg3.jpg) no-repeat center/cover;
}