@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&family=Poppins:wght@300;500;700&display=swap");
body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
}
.blind {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
