header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #000;
  z-index: 20;
}
header .inner {
  width: 1600px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
}
header .inner .logo {
  width: 150px;
  height: 30px;
  background: url(../img/logo.png) no-repeat center/cover;
}
header .inner nav {
  display: flex;
  height: 100px;
  align-items: center;
}
header .inner nav .gnb {
  width: fit-content;
  align-items: center;
}
header .inner nav .gnb .gnb_list {
  display: inline-block;
}
header .inner nav .gnb .gnb_list a {
  display: block;
  padding: 0 25px;
}
header .inner nav .gnb .gnb_list.box {
  border: 1px solid #ccc;
}
header .inner nav .utill {
  margin-left: 30px;
}
header .inner nav .utill span {
  display: inline-block;
  padding: 30px 10px;
}

footer {
  width: 100%;
  background-color: #000;
}
footer .inner {
  width: 1200px;
  margin: 0 auto;
  color: #777777;
  font-size: 16px;
  line-height: 20px;
}
footer .inner .top_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
footer .inner .top_area .link li {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}
footer .inner .top_area .link li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 1px;
  background-color: #777777;
}
footer .inner .top_area .sns {
  height: 38px;
}
footer .inner .top_area .sns li {
  display: inline-block;
  margin-left: 40px;
}
footer .inner .top_area .sns li img {
  display: block;
}
footer .inner .bot_area {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
footer .inner .bot_area .logo {
  width: 150px;
  height: 30px;
  background: url(../img/logo.png) no-repeat center/cover;
}
footer .inner .bot_area .info address {
  line-height: 30px;
  margin-bottom: 10px;
}
footer .inner .bot_area .info .copy {
  font-size: 14px;
}
footer .inner .bot_area .site ul .tit {
  cursor: pointer;
  padding: 10px 10px;
}
footer .inner .bot_area .site ul .tit i {
  color: #777;
  float: right;
}
footer .inner .bot_area .site ul li {
  border: 1px solid #777;
  padding: 10px 80px 10px 10px;
}
footer .inner .bot_area .site ul li:not(:first-child) {
  opacity: 0;
  visibility: hidden;
}
footer .inner .bot_area .site.on li:not(:first-child) {
  opacity: 1;
  visibility: visible;
}