.main {
  padding-top: 8rem;
}
.main_vis {
  width: 100%;
  max-height: calc(100vh - 8rem);
  overflow: hidden;
}
.main_vis video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.content {
  width: 100%;
  max-height: calc(100vh - 8rem);
  overflow: hidden;
  background-color: #f4f4f4;
}
.content .left_area {
  width: 50%;
  z-index: 9;
  float: left;
}
.content .right_area {
  width: 50%;
  float: left;
}
.content .right_area .swiper {
  height: 100%;
  width: 60%;
  margin-left: 0;
  overflow: visible;
  z-index: 0;
}
.content .right_area .swiper .swiper-pagination {
  bottom: 0;
  left: 10%;
}
.content .right_area .swiper .swiper-pagination-bullet {
  width: 33.33%;
  height: 3px;
  border-radius: 0;
  margin: 0;
}
.content .right_area .swiper .swiper-pagination-bullet-active {
  background-color: #000;
}

.content .right_area ul li {
  padding: 10%;
  font-size: 3rem;
  font-weight: 700;
}
.content .right_area ul li .tit_wrap {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.content .right_area ul li .img_wrap {
  overflow: hidden;
}
.content .right_area ul li .img_wrap img {
  transition: 0.3s;
}
.content .right_area ul li .img_wrap:hover img {
  transform: scale(1.1);
}
.content .right_area ul li .txt_wrap {
  font-size: 2rem;
  padding: 10px 0;
}
.content .right_area ul li .txt_wrap em {
  line-height: 4rem;
}
.content .right_area ul li .txt_wrap p {
  color: #ccc;
}

.product {
  background-color: #f0f0f0;
  padding: 10rem 0 0 0;
  margin-bottom: 5rem;
}
.product .tit_wrap {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}
.product ul {
  display: flex;
}
.product ul li {
  width: 25%;
  height: 40rem;
  background: url(../images/product1.png) no-repeat left/ cover;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.product ul li:not(:first-child) {
  border-left: 1px solid #e1e1e1;
}
.product ul li:nth-child(2) {
  background-image: url(../images/product2.png);
}
.product ul li:nth-child(3) {
  background-image: url(../images/product3.png);
}
.product ul li:nth-child(4) {
  background-image: url(../images/product4.png);
}
.product ul li:hover {
  background-position: center;
}
.product ul li .txt_wrap {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem;
  transition: padding 0.3s;
  border-bottom: 1px solid #f0f0f0;
}
.product ul li:hover .txt_wrap {
  background-color: #fff;
  padding: 2rem 2rem 2rem 3rem;
}
.event {
  margin: 10rem 0;
  padding: 0 2rem;
  position: relative;
}
.event .event_title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.event .main_event {
  width: 100%;
  height: 50rem;
  background: url(../images/event_back.jpg) no-repeat center / cover;
  margin-bottom: 2rem;
  position: relative;
  padding: 5rem 5rem;
}
.event .txt_wrap {
  font-weight: 700;
  line-height: 5rem;
}
.event .txt_wrap span {
  color: red;
  font-size: 2.5rem;
}
.event .txt_wrap h2 {
  font-size: 5rem;
}
.event .txt_wrap em {
  font-size: 3rem;
}
.event .txt_wrap p {
  font-size: 2rem;
}
.event .txt_wrap button {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 2.4rem;
  padding: 2rem 1rem;
  font-size: 1.4rem;
  margin-right: 1rem;
  line-height: 2rem;
  transition: 0.3s;
}
.event .txt_wrap button:hover {
  background-color: #000;
  color: #fff;
}
.event .txt_wrap button i {
  font-size: 1.8rem;
}
.event .sub_event {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.event .sub_event li {
  width: calc((100% - 40px) / 3);
  overflow: hidden;
  position: relative;
}
.event .sub_event li img {
  transition: 0.3s;
}
.event .sub_event li:hover img {
  transform: scale(1.1);
}
.event .sub_event li .video_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 21;
  display: none;
}
.event .sub_event li.on .video_wrap {
  display: block;
}
.event .sub_event li .video_wrap .video_pop {
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
}
.event .sub_event li .video_wrap video {
  width: 100%;
  height: 100%;
}
.event .sub_event li .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7.3rem;
  height: 7.3rem;
  background: url(../images/play.png) no-repeat center / cover;
  cursor: pointer;
}
.event .sub_event li .close {
  position: fixed;
  top: 5rem;
  right: 5rem;
  color: #fff;
  font-size: 3rem;
  z-index: 22;
  display: none;
  cursor: pointer;
}
.event .sub_event li.on .close {
  display: block;
}
.event .more {
  text-align: center;
  font-weight: 600;
  margin-top: 3rem;
  font-size: 1.8rem;
}

.banner {
  height: 10rem;
  padding: 3rem 0;
  position: relative;
  background-color: #f0f0f0;
}
.banner .banner_wrap {
  line-height: 4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.banner .banner_wrap em {
  margin-right: 2rem;
}
.help {
  padding: 5rem 10rem;
}
.help .left_area {
  float: left;
}
.help .left_area em {
  font-size: 3.5rem;
  font-weight: 700;
}
.help .right_area {
  float: right;
}
.help .right_area ul {
}
.help .right_area ul li {
  float: left;
}
.help .right_area ul li:not(:first-child) {
  margin-left: 7rem;
}
.help .right_area ul li .img_wrap {
  margin: 0 auto 1.5rem auto;
  width: 5rem;
}
.help .right_area ul li .txt_wrap {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .content .left_area {
    display: none;
  }
  .content .right_area {
    width: 100%;
  }
  .content .right_area .swiper {
    width: 100%;
    text-align: center;
  }
  .content .right_area .swiper .swiper-pagination {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
  .product ul {
    display: block;
  }
  .product ul li {
    width: 100%;
    height: 55rem;
    margin: 0 auto;
    background-position: center;
  }
  .product ul li .txt_wrap {
    background-color: #fff;
  }
  .product ul li:not(:first-child) {
    border: none;
  }
  .event .main_event {
    background: #cedcff;
  }
  .event .sub_event {
    display: block;
  }
  .event .sub_event li {
    width: 100%;
    margin-bottom: 2rem;
  }
  .event .sub_event li:not(:first-child) {
    display: none;
  }
  .help {
    padding: 5rem 5rem;
  }
  .help .left_area {
    float: none;
    text-align: center;
    margin-bottom: 3rem;
  }
  .help .right_area {
    float: none;
  }
  .help .right_area ul li {
    width: 25%;
  }
  .help .right_area ul li:not(:first-child) {
    margin-left: 0;
  }
  .footer_wrap {
    display: block;
  }
  .footer_wrap .left_wrap,
  .footer_wrap .right_wrap {
    width: 100%;
  }
  .footer_wrap .left_wrap {
    margin-bottom: 2rem;
  }
}
